version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: expense-postgres
    restart: always
    environment:
      POSTGRES_USER: expense_user
      POSTGRES_PASSWORD: ExpensePassword!2026
      POSTGRES_DB: expense_tracker_prod
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  nestjs:
    build: .
    container_name: expense-backend
    restart: always
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    command: npm run start:dev   # for dev, hot reload
    volumes:
    - ./:/app
    

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  pgdata:
